<!DOCTYPE html>
<html lang='en'>
<meta charset='UTF-8'>
<title>Twitter Scraper</title>
<meta name='viewport' content='width=device-width,initial-scale=1'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://www.w3schools.com/lib/w3.js'></script>
<body>

<br><br>

<div class='w3-top w3-bar w3-black'>
<a href='home' class='w3-bar-item w3-button'>Home</a>
<a href='redditScraper' class='w3-bar-itm w3-button'>Reddit Scraper</a>
<a href='twitterScraper' class='w3-bar-item w3-button'>Twitter Scraper</a>
<a href='instagramScraper' class='w3-bar-item w3-button'>Instagram Scraper</a>
<a href='facebookScraper' class='w3-bar-item w3-button'>Facebook Scraper</a>
</div>

<div id='home' class='content'>

<div class='w3-container' align='center'>
        <img src='static/images/twitterlogo.jpg' alt='Twitter Logo' style='width:30%'>
</div>

<div id='about' class='w3-container w3-padding-32' align='center'>
<h1 class='w3-center'>Welcome to the Twitter scraper!</h1>
<p>This scraper works by accepting a Twitter handle from a user and running the open-source Twitter scraping tool Twint. The results are saved as CSV, json, and HTML.
If the user decides not to download the CSV or JSON, then the parsed HTML will be served up on the app. 
</p>
</div>

<div align='center'>
<form action='submitTwitterHandle' method='POST'>
        <label for='twitterHandle'>Twitter handle:</label>
        <input type='text' id='twitterHandle' name='twitterHandle'><br>
        <input type='submit' action='Submit'>
</form>
</div>
